body {
    padding-top: 60px;
    background-color: rgba(63, 78, 212, 0.66);
}
#icon{
    height: 40px;
    border-radius: 10%;

}
.footer{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}
#brand{
    padding-left: 5px;
    color: rgba(101, 110, 194, 0.932);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}
